CompileFlags: 
  CompilationDatabase: build
  Add:
    - --sysroot=/usr/arm-none-eabi  # ← ARM sysroot
    - -I/usr/arm-none-eabi/include/c++/14.2.0
    - -I/usr/arm-none-eabi/include/c++/14.2.0/arm-none-eabi

Diagnostics:
  Suppress:
    - modernize-use-trailing-return-type
    - readability-implicit-bool-conversion
    - readability-isolate-declaration
    - bugprone-easily-swappable-parameters
  # Optional: suppress other style warnings common in embedded
  # UnusedIncludes: None
  # MissingIncludes: None
